langchain
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-docling
langchain-groq
langchain-unstructured[local]
google-generativeai
python-dotenv 
python-multipart
hf-xet
pydantic
ipykernel
streamlit
fastapi
uvicorn
jinja2
huggingface-hub
sentence-transformers
docling